/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "KeepCalm-Medium";
    src: url("./fonts/KeepCalm-Medium.eot"); /* IE9 Compat Modes */
    src: url("./fonts/KeepCalm-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/KeepCalm-Medium.otf") format("opentype"), /* Open Type Font */
    url("./fonts/KeepCalm-Medium.svg") format("svg"), /* Legacy iOS */
    url("./fonts/KeepCalm-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/KeepCalm-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/KeepCalm-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: KeepCalm-Medium, sans-serif;
}
a {
    color: black;
}
a:hover {
    color: #AB8636;
    text-decoration: none;
}
.navigation-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}
.navigation {}
.my-img-fluid {
    max-height: 100%;
    width: auto;
}
.button {
    border-radius: 0 !important;
    background-color: white;
}
.no-border-radius {
    border-radius: 0 !important;
}
.message-error {
    color: red;
    border: 1px solid red;
    border-radius: 0.25rem;
}
.message-success {
    color: green;
    border: 1px solid green;
    border-radius: 0.25rem;
}

#content.container-fluid.default-container {
    padding-left: 5rem;
    padding-right: 5rem;
}

.top-link {
    width: 2.2vw;
    height: 2.2vw;
    background-size: 1.6vw 1.6vw;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}
.top-link.facebook {
    background-image: url("../data/utils/facebook-black.svg");
}
.top-link.instagram {
    background-image: url("../data/utils/instagram-black.svg");
}
.top-link.facebook:hover {
    background-image: url("../data/utils/facebook-gold.svg");
}
.top-link.instagram:hover {
    background-image: url("../data/utils/instagram-gold.svg");
}
.menu-words {
    font-size: 1.2rem;
    padding-left: 5rem;
}
.menu-words nav > div:first-child {
    text-align: left;
}
.menu-words nav > div:last-child {
    text-align: right;
}

.titled-outer {
    /*background-color: red;*/
}
.titled-inner {
    /*background-color: green;*/
    display: inline-block;
}
.titled-inner h1 {
    /*background-color: blue;*/
}
.square-text {
    font-size: 1.4rem;
    text-align-last: center;
    -moz-text-align-last: center;
    /*background-color: yellow;*/
    width: 0;
}

#home .logo-wrapper {
    width: 75%;
    position: relative;
}
#home .logo-wrapper:after {
    padding-top: 13%;
    display: block;
    content: '';
}
#home .logo-wrapper .logo {
    position: absolute;
    width: 100%;
    height: 200%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}
#home .images {
    position: relative;
}
#home .images:after {
    padding-top: 100%;
    display: block;
    content: '';
}
#home .images .images-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
#home .images img.image-1 {
    display: block;
    position: absolute;
    z-index: 1;
}
#home .images img.image-2 {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}
#home .images img.long-width {
    width: 75%;
    height: auto;
}
#home .images img.long-height {
    height: 75%;
    width: auto;
}
#home .images img.image-2:hover {
    z-index: 1;
}
#home .texts {
    position: relative;
    z-index: 3;
    top: -6vw;
}
#home .texts .left {
    font-size: 6vw;
    line-height: 6vw;
}
#home .texts .right .right-wrapper {
    padding-top: 12rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}
#home .bottom {
    margin-top: 15rem;
}

#models .model {
    margin-bottom: 2rem;
}
#models .model .placeholder {
    background-color: rgb(80, 80, 80);
}
#models .model .placeholder a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#models .model .placeholder:after {
    padding-top: 150%;
    display: block;
    content: '';
}
#models .model .image {
    position: relative;
}
#models .model .image a {
    color: black;
}
#models .model .image a .model-name:hover {
    color: #AB8636;
}
#models .model .image .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.5));
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    -moz-transition: visibility 0s, opacity 0.3s linear;
    -o-transition: visibility 0s, opacity 0.3s linear;
}
#models .model:hover .image .mask,
#models .models-menu:hover + .models .row:first-child .model .image .mask {
    visibility: visible;
    opacity: 1;
}
#models .model .name {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.5));
    text-align: center;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    transition: visibility 0s, opacity 0.3s linear;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    -moz-transition: visibility 0s, opacity 0.3s linear;
    -o-transition: visibility 0s, opacity 0.3s linear;
}
#models .model .name .name-table {
    display: table;
    width: 100%;
    height: 100%;
}
#models .model .name .name-cell {
    display: table-cell;
    vertical-align: middle;
}
#models .model .name.hint {
}
#models .model .name .model-name {
    font-size: 2rem;
    line-height: 2rem;
}
#models .model .name .model-hint {
    font-style: italic;
}
#models .model:hover .name {
    visibility: visible;
    opacity: 1;
}
#models .models-menu {
    font-size: 5rem;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 50%;
}
#models .models-menu .menu-title {
    cursor: pointer;
    white-space: nowrap;
}
#models .models-menu .menu-title > div {
    display: inline-block;
}
#models .models-menu .menu-title .long-dash {
    width: 3rem;
    height: 0.4rem;
    background-color: black;
    vertical-align: middle;
    margin-left: 5px;
    transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
}
#models .models-menu .menu-content {
    display: none;
    z-index: 1;
    position: absolute;
    width: 10em;
}
#models .models-menu:hover .menu-content {
    display: block;
}
#models .models-menu:hover .menu-title .long-dash {
    width: 8rem;
}
#models .models {
    clear: both;
}

#model .wrapper {
    flex-flow: column wrap;
    position: absolute;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    height: 100%;
}
#model .details {
    background-color: rgb(250, 250, 250);
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#model .options {
    z-index: 1;
    height: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 0.3rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    -moz-transition: visibility 0s, opacity 0.3s linear;
    -o-transition: visibility 0s, opacity 0.3s linear;
}
#model .details .detail {
    border-right: 1px solid gray;
}
#model .details .detail .name {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    font-size: 0.8rem;
}
#model .details .detail .value {
    text-transform: uppercase;
}
#model .wrapper .header {
    width: 50%;
    height: 100%;
}
#model .logo img {
    width: 10rem;
}
#model .info {
    text-align: center;
    position: relative;
}
#model .info .info-inner {
    position: absolute;
    width: 100%;
}
#model .info h1 {
    font-size: 11.70vw;
    font-weight: normal;
    color: black;
    white-space: nowrap;
}
#model .info h2 {
    font-size: 3vw;
    font-weight: normal;
    white-space: nowrap;
}
#model .photos {
    height: 100%;
    white-space: nowrap;
}
#model .photos img {
    max-height: 100%;
}

#contact #content.container-fluid {
    padding:0;
}
#contact .navigation-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: transparent;
    color: white;
}
#contact .navigation-wrapper a {
    color: white;
}
#contact .navigation-wrapper a:hover {
    color: #AB8636;
}
#contact .navigation-wrapper .top-link.facebook:hover {
    background-image: url("../data/utils/facebook-gold.svg");
}
#contact .navigation-wrapper .top-link.instagram:hover {
    background-image: url("../data/utils/instagram-gold.svg");
}
#contact .navigation-wrapper.sticked .top-link.facebook:hover {
    background-image: url("../data/utils/facebook-gold.svg");
}
#contact .navigation-wrapper.sticked .top-link.instagram:hover {
    background-image: url("../data/utils/instagram-gold.svg");
}
#contact .navigation-wrapper .top-link.facebook {
    background-image: url("../data/utils/facebook-white.svg");
}
#contact .navigation-wrapper .top-link.instagram {
    background-image: url("../data/utils/instagram-white.svg");
}
#contact .navigation-wrapper.sticked .top-link.facebook {
    background-image: url("../data/utils/facebook-black.svg");
}
#contact .navigation-wrapper.sticked .top-link.instagram {
    background-image: url("../data/utils/instagram-black.svg");
}
#contact .navigation-wrapper.sticked {
    background-color: white;
    color: black;
}
#contact .navigation-wrapper.sticked a {
    color: black;
}
#contact .navigation-wrapper.sticked a:hover {
    color: #AB8636;
}
#contact .agents.row {
    margin: 0;
}
#contact video#vid {
    width: 100%;
    margin-top: -9rem;
}
#contact .agents {
    white-space: nowrap;
}
#contact .contact-submission-photo {
    position: relative;
}
#contact .contact-submission-photo .button-submission-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#contact .contact-submission-photo .button-submission-wrapper .my-table {
    display: table;
    width: 100%;
    height: 100%;
}
#contact .contact-submission-photo .button-submission-wrapper .my-table .my-cell {
    display: table-cell;
    vertical-align: middle;
}
#contact .bottom .bottom-element {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* 1rem <=> 0.86vw */

#submission .section-details {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
#submission .titled-outer {
    margin-top: 13rem;
}
#submission .text-open-call {
    position: relative;
}
#submission .few-details {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    -moz-transition: visibility 0s, opacity 0.3s linear;
    -o-transition: visibility 0s, opacity 0.3s linear;
}
#submission .more-details {
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    -moz-transition: visibility 0s, opacity 0.3s linear;
    -o-transition: visibility 0s, opacity 0.3s linear;
}
#submission .few-details .wrapper,
#submission .more-details .wrapper {
    display: table-cell;
    vertical-align: middle;
}
#submission .show-more .few-details {
    opacity: 0;
}
#submission .show-more .more-details {
    opacity: 1;
}
#submission .details {
    position: absolute;
    bottom: 0;
    right: 0;
}
#submission form .files label {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
#submission form .files .example-image {
    background-color: rgb(80, 80, 80);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#submission form .files .example-image:after {
    padding-top: 150%;
    display: block;
    content: '';
}
#submission form .selections label, #submission form button {
    text-transform: uppercase;
}
#submission form textarea.textarea-message {
    height: 8rem;
}
#submission ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: uppercase;
    /* opacity: 1; *//* Firefox */
}
#submission :-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: uppercase;
}
#submission ::-ms-input-placeholder { /* Microsoft Edge */
    text-transform: uppercase;
}

#engage .engage {
}

#details .details {
    margin-left: auto;
    margin-right: auto;
    margin-top: 13rem;
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #details .details {
        max-width: 50%;
    }
}
#details .main-text {
    margin: auto;
}